/* CSS do Footer */
:root {
    --grey: #514D4D;
    --salmao: #fff;
}

.rodape {
    background-color: var(--grey);
    display: flex;
    flex-direction: row; 
    padding: 0;
    margin: 0;
    position: relative;
    padding: 10px 0;
    justify-content: space-between;
}

.rodape a {
    color: var(--salmao);
    text-decoration: none;
    font-size: small;
    display: flex;
    flex-direction: row;
}

.textRodape {
    color: var(--salmao);
}

.espacoRod {
    columns: span 2;
    font-size: medium;
}


/* CSS do Copyright */

.copy {
    background-color: rgb(0, 0, 0);
    color: var(--salmao);
    font-size: small;
    align-items: center;
    text-align: center;
    padding: 4px;
}