:root {
    --grey: #514D4D;
    --dark: #0f0f0f;
    --fundo: #ada9a9;
    --amarelo: #EEBE6F;
    --fundoGeral: #D9D9D9;
}

* {
    font-family: "Montserrat", sans-serif;
}


/* Css do Carrosel */

.carousel {
    margin-top: 7.8rem;
    background-color: var(--grey);
    padding-top: 3rem;
}

.carousel-item {
    height: 16rem;
}

.carousel-inner img {
    object-fit: contain;
    overflow: hidden;
    height: 10rem;
    width: auto;
}


 /*Menu*/ 
.text-link-menu {
    color: var(--dark);
    text-decoration: none;
    font-size: 15px;
}



/* CSS para os cards */
.product{
    height: 13rem;
}
.card {
    padding: 1rem;
}

.img-card {
    width: 350px;
    height: auto;
}
.card-body {
    padding: 1rem;
}



